
statistics.txt
run_assignment_1.py
README.md
node_and_search.py
missionaries_and_cannibals.py
a2_games/zebra_puzzle.pl
a2_games/run_assignment2.py
a2_games/game_node_and_game_search.py~
a2_games/game_node_and_game_search.py
a2_games/four_in_a_row.py
a1_search_problems/statistics.txt
a1_search_problems/run_assignment_1.py
a1_search_problems/node_and_search.py
a1_search_problems/missionaries_and_cannibals.py
a1_search_problems/eight_puzzle.py
a1_search_problems/__pycache__/node_and_search.cpython-310.pyc
a1_search_problems/__pycache__/missionaries_and_cannibals.cpython-310.pyc
a1_search_problems/__pycache__/eight_puzzle.cpython-310.pyc
__pycache__/node_and_search.cpython-310.pyc
__pycache__/missionaries_and_cannibals.cpython-310.pyc
__pycache__/eight_puzzle.cpython-310.pyc
__pycache__/eight_puzzle.cpython-310.pyc
__pycache__/missionaries_and_cannibals.cpython-310.pyc
__pycache__/node_and_search.cpython-310.pyc
missionaries_and_cannibals.py
node_and_search.py
README.md
run_assignment_1.py
statistics.txt
*.txt
__pycache__/eight_puzzle.cpython-310.pyc
__pycache__/missionaries_and_cannibals.cpython-310.pyc
__pycache__/node_and_search.cpython-310.pyc
missionaries_and_cannibals.py
node_and_search.py
README.md
run_assignment_1.py
statistics.txt
*.pyc
